<style>
  .table-announce {
    color: #efefef;
  }

  .table-announce tbody td {
    border-top-color: #374E36 !important;
    border-top-width: 2px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }

  .payment {
    color: #374E36;
  }

  .resign {
    color: #A34123;
  }
  .container{
    text-align: center;
  }
  .image{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  thead > tr > td{
    font-weight: bold;
  }
  thead{
    background-color: rgba(205, 144, 82, 0.83);
  }

  .text-wrap {
    white-space: normal !important;
  }

  .confirm-btn {
    color: #ffffff;
    font-size: 48px;
    font-family: BoonJot;
    padding: 0 40px;
    background: url('../images/landing/title-bg.png') no-repeat center center;
    background-size: 100%;
  }

  .confirm-btn.small {
    font-size: 20px;
  }

  .confirm-btn:hover {
    color: #ffffff;
  }
</style>
<div class="container">
  <img class='image' src={{img}} />
  <h1 class="title text-wrap">ประกาศผล Web {{major}}</h1>
  <a href="/" class="confirm-btn small">กลับหน้าหลัก</a>
  <table class="table table-announce">
    <thead>
      <tr>
        <td>#</td>
        <td>ชื่อ - นามสกุล</td>
        <td>ยอดที่ต้องโอน</td>
        <td>ยืนยัน</td>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.number}}</td>
          <td>{{this.name}} {{this.lastname}}</td>
          <td>{{this.money}}</td>
          <td>{{this.confirm}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="text-center">
    <a href="/confirm" class="confirm-btn">คลิกที่นี่เพื่อยืนยันสิทธิ์</a>
  </div>
  <br>
  <br>
  <br>
</div>
