<style>
  .table-announce {
    color: #efefef;
  }

  .table-announce tbody td {
    border-top-color: #374E36 !important;
    border-top-width: 2px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }

  .payment {
    color: #374E36;
  }

  .resign {
    color: #A34123;
  }
  .container{
    text-align: center;
  }
  .image{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  thead > tr > td{
    font-weight: bold;
  }
  thead{
    background-color: rgba(205, 144, 82, 0.83);
  }
</style>
{{>navbar}}
<div class="container">
  <img class='image' src={{img}} />
  <h1 class="title">ประกาศผล Web {{major}}</h1>
  <table class="table table-announce">
    <thead>
      <tr>
        <td>#</td>
        <td>ชื่อ - นามสกุล</td>
        <td>ยอดที่ต้องโอน</td>
        <td>ยืนยัน</td>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.number}}</td>
          <td>{{this.name}} {{this.lastname}}</td>
          <td>{{this.money}}</td>
          <td>{{this.confirm}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/confirm"><button type="button" class='btn btn-lg btn-default' name="button">คลิกนี่เพื่อยืนยันสิทธิ์</button></a>
</div>
