<section class="index">
  <link rel="stylesheet" href="/css/index.css" >
  <div class="container ">
    <img src="/pictures/allpage/logobig.png" style="height:40%;" />
    <h2 class="head">เว็บสุขชิค พลิกปัญหาวัยทีน</h2>

    <div class="logo-block">
      {{#each pictures}}
      <img class="logo" src={{this}} />
      {{/each}}
    </div>
  </div>
</section>
<section class="whatis">
  <link rel="stylesheet" href="/css/whatis.css">
  <div class="container">
    <div class="row">
      <h1 class="head">JWC คืออะไร</h1>
      <div class="text">JWC เป็นค่ายที่จะพาน้องๆ ที่มีใจรักในการสร้างเว็บไซด์ มาร่วมกิจกรรมสนุกๆ ได้รับความรู้ และ เทคนิคการทำเว็บไซต์ พร้อมทั้งทักษะการพรีเซนต์ผลงานกับกรรมการกูรูในวงการมากมาย
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 box">
        <div class="col-lg-3 col-md-12 col-lg-offset-1">
          <img class="img-responsive" src="/pictures/whatis/เปิดรับสมัคร.png" />
        </div>
        <div class="col-lg-1 col-md-12">
          <img class="img-responsive"src="/pictures/whatis/arrow.png" />
        </div>
        <div class="col-lg-3 col-md-12">
          <img class="img-responsive" src="/pictures/whatis/ระยะเวลา.png" />
        </div>
        <div class="col-lg-1 col-md-12">
          <img class="img-responsive" src="/pictures/whatis/arrow.png" />
        </div>
        <div class="col-lg-3 col-md-12">
          <img class="img-responsive" src="/pictures/whatis/สถานที่.png" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="register">
  <link rel="stylesheet" href="/css/register.css" >
  <div class="container">
    <div class="row box2">
    <div class="col-sm-12 col-lg-4">
      <div class="thumbnail">
        <img class="img-responsive"src="/pictures/register/webmarketing.png">
        <div class="caption text-center">
          <h3 class="head" style="color:rgb(32, 127, 214);">Web Marketing</h3>
          <p>มุมมองใหม่ๆ กับการตลอดทำอย่างไร ให้เว็บไซต์โด่งดัง และสามารถสร้างรายได้มหาศาล เรียนรู้เทคนิคจากสถานการณ์แบบ Real-Time</p>
          <div class="row">
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png" />
              <p>ชอบฟังข่าว</p>
            </div>
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>ชอบคิดเลข</p>
            </div>
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>ชอบวางแผน</p>
            </div>
          </div>
          <p>
            <a href="#" class="btn regisnow" role="button">สมัครเลย</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="thumbnail">
        <img class="img-responsive" src="/pictures/register/webdesign.png">
        <div class="caption text-center">
          <h3 class="head" style="color:rgb(227, 230, 86);">Web Design</h3>
          <p>เว็บดีไซน์เนอร์ไม่ใช่เพียงผู้ออกแบบความงามแต่ต้องเข้าใจถึงพฤติกรรมผู้ใช้และมุมมองทางธุรกิจเพื่อให้เกิดความพึงพอใจในทุกๆฝ่าย</p>
          <div class="row">
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>ชอบวาดรูป</p>
            </div>
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>คิดสร้างสรรค์</p>
            </div>
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>ช่างสังเกต</p>
            </div>
          </div>
          <p>
            <a href="#" class="btn regisnow" role="button">สมัครเลย</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="thumbnail">
        <img class="img-responsive" src="/pictures/register/webcontent.png">
        <div class="caption text-center">
          <h3 class="head" style="color:rgb(227, 144, 211);">Web content</h3>
          <p>หนึ่งศาสตร์ที่ล้ำลึกกำหนดทิศทางความสำเร็จของเว็บไซดฺดึงดูดผู้เข้าชมด้วยเนื้อหาบุคลิก และวิธีการสื่อสารรูปแบบต่างๆไม่ว่าจะเป็นเนื้อหา หรือรูปภาพ</p>
          <div class="row">
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>ชอบเขียน</p>
            </div>
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>รักการอ่าน</p>
            </div>
            <div class="col-md-4 atom">
              <img src="/pictures/register/atom.png"/>
              <p>ชอบถ่ายรูป</p>
            </div>
          </div>
          <p>
            <a href="#" class="btn regisnow" role="button">สมัครเลย</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>

<section class="calendar">
  <link rel="stylesheet" href="/css/calendar.css">
  <div class="container">
    <div class="row">
      <img class="img-responsive" src="pictures/calendar/Timeline.png" style="display: inline-block; margin-bottom:10px;"/>

      <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="faq">
              <h3>ค่ายนี้รับสมัครกี่คน?</h3>
              <p style="width:70%;">
                ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
                แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
                การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
              </p>
            </div>
          </div>

          <div class="item">
            <div class="faq">
              <h3>ค่ายนี้รับสมัครกี่คน?</h3>
              <p style="width:70%;">
                ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
                แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
                การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
              </p>
            </div>
          </div>

          <div class="item">
            <div class="faq">
              <h3>ค่ายนี้รับสมัครกี่คน?</h3>
              <p style="width:70%;">
                ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
                แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
                การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
              </p>
            </div>
          </div>

          <div class="item">
            <div class="faq">
              <h3>ค่ายนี้รับสมัครกี่คน?</h3>
              <p style="width:70%;">
                ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
                แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
                การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
              </p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="icon" aria-hidden="true">
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="icon" aria-hidden="true">
            <img class="img-responsive" src="/pictures/whatis/arrow.png"/>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </div>

    <div class="row">
      <h1 class="head">ขอขอบคุณผู้ใหญ่ใจดี</h1>
      <div class="logo-block">
        {{#each pictures}}
        <img class="logo" src={{this}} />
        {{/each}}
      </div>
    </div>

  </div>
</section>
<section class="eventpic">
  <link rel="stylesheet" href="/css/eventpic.css" media="screen" title="no title" charset="utf-8">
  <div class="container text-center">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
        <li data-target="#myCarousel2" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          {{#each event}}
            <div class="col-lg-3">
              <img class="logo img-responsive" src={{this}} />
            </div>
          {{/each}}
        </div>

        <div class="item">
          {{#each event}}
            <div class="col-lg-3">
              <img class="logo  img-responsive" src={{this}} />
            </div>
          {{/each}}
        </div>

        <div class="item">
          {{#each event}}
            <div class="col-lg-3">
              <img class="logo img-responsive" src={{this}} />
            </div>
          {{/each}}
        </div>

        <div class="item">
          {{#each event}}
            <div class="col-lg-3">
              <img class="logo img-responsive" src={{this}} />
            </div>
          {{/each}}
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>

<section class="about">
  <link rel="stylesheet" href="/css/about.css">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1065330750192936";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="container">
    <div class="row embed">
      <div class="facebook">
        <div class="fb-page" data-href="https://www.facebook.com/jwcth/?fref=ts" data-tabs="timeline" data-width="300px" data-height="300px" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/jwcth/?fref=ts"><a href="https://www.facebook.com/jwcth/?fref=ts">Junior Webmaster Camp</a></blockquote></div></div>
      </div>
        <div  style="width: 300px;">
          <a class="twitter-timeline" href="https://twitter.com/hashtag/jwc8" data-widget-id="708848008843042816">#jwc8 Tweets</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div class="tidtor">
      <div class="text-left">
        <h4>ช่องทางการติดต่อ</h4>
        <p style="width:70%;">
          088-6807571 (พี่ตั้ม), 081-497-8824 (พี่ปอย),
          081-381-5010 (พี่เคโกะ) ช่วยเราประชาสัมพันธ์ค่ายง่ายๆ คลิก
        </p>
      </div>
      <img src="/pictures/about/QRCode.png"/>
    </div>
  </div>
</section>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56e5b31cbe911032"></script>
